{% extends "::base.html.twig" %}

{% block body %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="{{ asset('dist/js/jquery.min.js') }}"></script>
<script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
<h3>
Portail Utilisateur
</h3>

{{form(form)}}



{% endblock %}
